<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shiyuankeji">
    <!--value的值填写你在友盟后台申请的应用Appkey  5e828f8d167edd2e0a000052-->
    <!--相册内容-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--友盟统计所需权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <!--支付宝（sdk配置）-->
    <!--android.permission.INTERNET
android.permission.ACCESS_NETWORK_STATE
android.permission.ACCESS_WIFI_STATE-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <!-- android:allowBackup="true"  tools:replace="android:allowBackup"   注释：改变 sp储存状态-->
    <!-- android:name="com.example.iwapp.app.MyApp"
        android:allowBackup="true"
        android:appComponentFactory="app"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">-->
    <!--新加 ：tools:replace="android:appComponentFactory"        android:appComponentFactory="app"-->
    <application
        android:name="com.example.shiyuankeji.app.MyApp"
        android:allowBackup="true"
        android:appComponentFactory="app"
        android:icon="@drawable/yjtp2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <!--  replac="android:theme"-->
        <!--登录  主--><!--login: Activity-->
        <activity android:name="com.example.shiyuankeji.ui.activity.login.SplashActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--&lt;!&ndash;供h5调用&ndash;&gt;-->
                <!--<data-->
                    <!--android:host="com.example.project"-->
                    <!--android:pathPrefix="/test/"-->
                    <!--android:scheme="syapp" />-->
            <!--</intent-filter>-->
        </activity>
        <!--我的模块 登录-->
        <activity
            android:name="com.example.shiyuankeji.ui.activity.minelogin.MineLogin"
            android:theme="@style/TopDialogStyleBottomnoanim" />
        <!--主界面-->
        <!--android:launchMode="singleTask"-->
        <activity android:name="com.example.shiyuankeji.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--供h5调用-->
                <data
                    android:host="com.example.project"
                    android:pathPrefix="/test/"
                    android:scheme="syapp" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.example.shiyuankeji.ui.activity.login.LoginActivity" />
        <!--底部弹窗-->
        <activity
            android:name="com.example.shiyuankeji.ui.activity.ExchangeActivity"
            android:launchMode="singleTask"
            android:theme="@style/TopDialogStyleBottom" />
        <!--微信-->
        <activity
            android:name="com.example.shiyuankeji.widgets.wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name="com.example.shiyuankeji.ui.activity.ProductDetailsActivity" />
        <!--提交订单-->
        <activity android:name="com.example.shiyuankeji.ui.activity.Submit0rdersActivity" />
        <!--（有）选中收货地址-->
        <activity android:name="com.example.shiyuankeji.ui.activity.SelectAddressActivity" />
        <!--添加收货地址-->
        <activity android:name="com.example.shiyuankeji.ui.activity.AddressMessage" />
        <!--订单详情-->
        <activity android:name="com.example.shiyuankeji.ui.activity.IineItemActivity" />
        <!--完成订单-->
        <activity android:name="com.example.shiyuankeji.ui.activity.CompleteOrderActivity" />
        <!--个人详情（相关信息）-->
        <activity android:name="com.example.shiyuankeji.ui.activity.DetailsActivity" />
        <!--提现记录列表-->
        <activity android:name="com.example.shiyuankeji.ui.activity.RecordListActivity" />
        <!--购物积分提现-->
        <activity android:name="com.example.shiyuankeji.ui.activity.ShopWBActivity" />
        <!--手机验证-->
        <activity android:name="com.example.shiyuankeji.ui.activity.VerfiyActivity" />
        <!--个人中心-->
        <activity android:name="com.example.shiyuankeji.ui.activity.PersonalCenterActivity" />
        <!--客服-->
        <activity android:name="com.example.shiyuankeji.ui.activity.WebCallCenterActivity" />
        <!--（个人）添加身份证号/银行卡号-->
        <activity android:name="com.example.shiyuankeji.ui.activity.ClickOnAddActivity" />
        <!--我的二维码-->
        <activity android:name="com.example.shiyuankeji.ui.activity.MyQRActivity" />
        <!--我的扫码-->
        <activity android:name="com.example.shiyuankeji.ui.activity.MyScanCodeActivity" />
        <!--注册-->
        <activity android:name="com.example.shiyuankeji.ui.activity.login.RegisterActivity" />
        <!--修改密码-->
        <activity android:name="com.example.shiyuankeji.ui.activity.UpdatePasswrdActivity" />
        <!--验证账号-->
        <activity android:name="com.example.shiyuankeji.ui.activity.VerifyAccountActivity" />
        <!--合作组-->
        <activity android:name="com.example.shiyuankeji.ui.activity.SynergicActivity" />
        <!-- 商务拼团-->
        <activity android:name="com.example.shiyuankeji.ui.activity.BusinessActivity" />
        <!--销售单元-->
        <activity android:name="com.example.shiyuankeji.ui.activity.SellActivity" />
        <activity android:name="com.example.shiyuankeji.ui.activity.SynergicXingActivity" />
        <!--我的收益-->
        <activity android:name=".ui.activity.YieldActivity"/>
    </application>

    <!--友盟统计配置Appkey与Channel-->
    <!--value的值填写你在友盟后台申请的应用Appkey-->
    <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道名称变量-->
    <!--<meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>-->
</manifest>